.button-slider-open {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: var(--spacing-15);
  right: var(--spacing-15);
  z-index: 2;
  width: 16.667vw;
  height: 16.667vw;
  background-color: var(--color-white);
  border-radius: 50%;
}
.button-slider-open__icon {
  width: 2.689vw;
  height: 3.228vw;
  fill: var(--color-grey-darker);
}
@media (hover: hover) {
  .button-slider-open {
    transform-origin: center center;
    will-change: transform;
  }
  .button-slider-open__icon {
    overflow: visible;
  }
  .button-slider-open__icon-square {
    will-change: transform;
    transition: 400ms cubic-bezier(0.8, 0.16, 0.41, 0.86);
  }
  .button-slider-open:hover .button-slider-open__icon-square:first-of-type {
    transform: translate(-0.1vw, 0.1vw);
  }
  .button-slider-open:hover .button-slider-open__icon-square:nth-of-type(2) {
    transform: translate(0, 0.1vw);
  }
  .button-slider-open:hover .button-slider-open__icon-square:nth-of-type(3) {
    transform: translate(0.1vw, 0.1vw);
  }
  .button-slider-open:hover .button-slider-open__icon-square:nth-of-type(4) {
    transform: translate(-0.1vw, 0);
  }
  .button-slider-open:hover .button-slider-open__icon-square:nth-of-type(5) {
    transform: translate(0, 0);
  }
  .button-slider-open:hover .button-slider-open__icon-square:nth-of-type(6) {
    transform: translate(0.1vw, 0);
  }
  .button-slider-open:hover .button-slider-open__icon-square:nth-of-type(7) {
    transform: translate(-0.1vw, -0.1vw);
  }
  .button-slider-open:hover .button-slider-open__icon-square:nth-of-type(8) {
    transform: translate(0, -0.1vw);
  }
  .button-slider-open:hover .button-slider-open__icon-square:nth-of-type(9) {
    transform: translate(0.1vw, -0.1vw);
  }
}
@media (min-width: 768px) {
  .button-slider-open {
    width: 4.167vw;
    height: 4.167vw;
    backface-visibility: hidden;
  }
  .button-slider-open__icon {
    width: 0.7392vw;
    height: 0.8877vw;
  }
}